@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .page-container {
    @apply h-full w-full flex flex-col items-center p-5 mb-[20em] fade-effect-quick;
  }
  .heading-lg {
    @apply text-center text-5xl mb-10 font-extrabold text-sky-600 dark:text-sky-100 f1;
  }
  .heading-md {
    @apply text-center text-3xl mb-5 font-extrabold text-sky-600 dark:text-sky-100 f1;
  }
  .heading-sm {
    @apply text-center text-xl mb-2 font-extrabold text-sky-600 dark:text-sky-100 f1;
  }
  .textarea-tw {
    @apply bg-[hsla(200,0%,100%,1)]  dark:bg-[hsla(200,0%,10%,1)]  placeholder:text-slate-400 dark:placeholder:text-slate-300 text-slate-800 dark:text-slate-300 rounded-lg dark:!shadow-white ring-1;
  }
  .button-1 {
    @apply flex items-center gap-2 px-10 py-2 text-white transition rounded-full shadow-lg bg-sky-500 shadow-sky-300 hover:bg-sky-600 hover:shadow-sky-400 hover:shadow-xl hover:scale-105 active:scale-90;
  }
  p {
    @apply text-sky-800 dark:text-sky-200 f2;
  }
  label {
    @apply text-slate-800 dark:text-slate-50 f2;
  }
  .my-react-select-container .my-react-select__control {
    @apply bg-white dark:bg-slate-700 border-2 border-slate-300 dark:border-slate-500 text-xs hover:border-slate-400 dark:hover:border-slate-500 rounded-xl;
  }

  .my-react-select-container .my-react-select__control--is-focused {
    @apply border-slate-500 hover:border-slate-500 dark:border-slate-400 dark:hover:border-slate-400 shadow-none;
  }

  .my-react-select-container .my-react-select__menu {
    @apply bg-slate-100 dark:bg-slate-700 border-2 border-slate-300 dark:border-slate-600;
  }

  .my-react-select-container .my-react-select__option {
    @apply text-slate-600 dark:text-slate-200 bg-slate-100 hover:bg-slate-200 dark:bg-slate-700 dark:hover:bg-slate-800;
  }
  /* .my-react-select-container .my-react-select__option--is-focused {
    @apply bg-slate-200 dark:bg-slate-800;
  } */

  .my-react-select-container .my-react-select__indicator-separator {
    @apply bg-slate-400;
  }

  .my-react-select-container .my-react-select__input-container,
  .my-react-select-container .my-react-select__placeholder,
  .my-react-select-container .my-react-select__single-value {
    @apply text-slate-600 dark:text-slate-200 font-bold;
  }
}

:root {
  --bg: #000000;
}

body {
  margin: 0;
  height: 100%;
  overflow: hidden;
  background-color: var(--bg);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.f1 {
  /* font-family: "Varela Round", sans-serif; */
  font-weight: bolder;
  font-family: "Fredoka One", sans-serif;
  letter-spacing: 2px;

  font-display: block;
  /* font-family: "Gochi Hand", cursive; */
}
.f2 {
  font-family: "Varela Round", sans-serif;
  font-weight: bolder;
  /* font-family: "Baloo Thambi 2", cursive; */
  font-display: block;

  /* font-family: "Gochi Hand", cursive; */
}

.glass-box {
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4.5px);
  -webkit-backdrop-filter: blur(4.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.74);
  padding: 4px;
}
.normal-box-soft {
  background: rgba(255, 255, 255, 0.364);
  padding: 4px;
  border-radius: 1em;
  box-shadow: 5px 5px 17px #9898986e, -5px -5px 17px #ffffff65;
}

.fade-effect {
  -webkit-animation: fadeIn 4s;
  -moz-animation: fadeIn 4s;
  -o-animation: fadeIn 4s;
  -ms-animation: fadeIn 4s;
  animation: fadeIn 4s;
}

.fade-effect-quick {
  -webkit-animation: fadeIn 1.5s;
  -moz-animation: fadeIn 1.5s;
  -o-animation: fadeIn 1.5s;
  -ms-animation: fadeIn 1.5s;
  animation: fadeIn 1.5s;
}

.fade-effect-fast {
  -webkit-animation: fadeIn 0.5s;
  -moz-animation: fadeIn 0.5s;
  -o-animation: fadeIn 0.5s;
  -ms-animation: fadeIn 0.5s;
  animation: fadeIn 0.5s;
}

.fade-effect-turbo {
  -webkit-animation: fadeIn 0.2s;
  -moz-animation: fadeIn 0.2s;
  -o-animation: fadeIn 0.2s;
  -ms-animation: fadeIn 0.2s;
  animation: fadeIn 0.2s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.logo {
  background: linear-gradient(
    270deg,
    #a6e04a,
    #08cc3f,
    #21c7ed,
    #1076ea,
    #6219ea
  );
  background-size: 400% 400%;

  -webkit-animation: logo 17s ease infinite;
  -moz-animation: logo 17s ease infinite;
  animation: logo 17s ease infinite;

  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;

  -moz-text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
}

.logo2 {
  background: linear-gradient(
    270deg,
    #6219ea,
    #1076ea,
    #21c7ed,
    #08cc3f,
    #a6e04a
  );
  background-size: 400% 400%;

  -webkit-animation: logo 17s ease infinite;
  -moz-animation: logo 17s ease infinite;
  animation: logo 17s ease infinite;

  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;

  -moz-text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
}
@-webkit-keyframes logo {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes logo {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes logo {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.purple {
  color: #7e22ce;
  fill: #7e22ce;
}
.indigo {
  color: #4338ca;
  fill: #4338ca;
}
.blue {
  color: #00bcd4;
  fill: #00bcd4;
}
.teal {
  color: #0f766e;
  fill: #0f766e;
}
.green {
  color: #4caf50;
  fill: #4caf50;
}
.yellow {
  color: #ffeb3b;
  fill: #ffeb3b;
}
.red {
  color: #f44336;
  fill: #f44336;
}
.orange {
  color: #ff9800;
  fill: #ff9800;
}

.black {
  color: #000000;
  fill: #000000;
}

.toggler-wrapper {
  display: block;
  width: 55px;
  height: 27px;
  cursor: pointer;
  position: relative;
}

.toggler-wrapper input[type="checkbox"] {
  display: none;
}

.toggler-wrapper input[type="checkbox"]:checked + .toggler-slider {
  background-color: #1cbaff;
}

.toggler-wrapper .toggler-slider {
  border: 1px solid #9e9e9e;
  position: absolute;
  border-radius: 100px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.toggler-wrapper .toggler-knob {
  position: absolute;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.toggler-wrapper.slider input[type="checkbox"]:checked + .toggler-slider {
  background-color: #e8f8ff;
}

.toggler-wrapper.slider
  input[type="checkbox"]:checked
  + .toggler-slider
  .toggler-knob {
  left: calc(100% - 19px - 3px);
  background: conic-gradient(#5acbfc, #06a0e2);
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}

.toggler-wrapper.slider .toggler-knob {
  width: calc(25px - 6px);
  height: calc(25px - 6px);
  border-radius: 50%;
  left: 3px;
  top: 3px;
  background: conic-gradient(#bababa, #5c5d5e);
}

.css-tlfecz-indicatorContainer {
  padding: 0px !important;
}
